{% load static %}
<header>
    <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav mb-2 mb-lg-0 gap-2">
                    <li class="nav-item">
                        <a class="nav-link py-0"
                           href="{% url 'catalog' %}">
                            Catalog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="py-0"
                           href="{% url 'profile' %}">
                            <img width="20" height="20"
                                 style="filter: invert(0.75)"
                                 src="{% static 'shop/img/profile.jpg'%}" alt="profile">
                        </a>
                    </li>
                    <li class="nav-item my-auto">
                        <a class="btn btn-secondary py-0"
                           href="{% url 'signin' %}">
                            sign in
                        </a>
                    </li>
                    <li class="nav-item my-auto">
                        <a class="btn btn-secondary py-0"
                           href="{% url 'signup' %}">
                            sign up
                        </a>
                    </li>
                    <li class="nav-item my-auto">
                        <a class="py-0"
                           href="{% url 'signout' %}">
                            <img width="24" height="24"
                                 style="filter: invert(0.75)"
                                 src="{% static 'shop/img/door.jpg' %}" alt="signout">
                        </a>
                    </li>
                </ul>
    </nav>
</header>